TEST=true
CONTAINER_NAME=nft-market-api
DOCKER_FILE=dockerfiles/sys.Dockerfile.nodejs
COMMAND=npm install > /logs/api.log && npm install -g nodemon  >> /logs/api.log && nodemon index.js  >> /logs/api.log
DOCKER_IMAGE=debian:latest
RESTART=unless-stopped
LOG_DRIVER=json-file
VOLUME=./volume
WORK_DIR=/app
TIMEZONE=Asia/Bangkok
NODEJS_ADDRESS=0.0.0.0
NODEJS_PORT=5001
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
TIMEOUT=60000
PARTICLE_AUTHORIZATION_URL=https://api.particle.network/server/rpc
PARTICLE_PROJECT_ID=
PARTICLE_CLIENT_KEY=