TEST=true
CONTAINER_NAME=nft-market-api
DOCKER_FILE=dockerfiles/sys.Dockerfile.nodejs
COMMAND=tail -f /dev/null
DOCKER_IMAGE=debian:latest
RESTART=unless-stopped
LOG_DRIVER=json-file
VOLUME=./volume
WORK_DIR=/app
TIMEZONE=Asia/Bangkok
NODEJS_ADDRESS=0.0.0.0
NODEJS_PORT=5001