TEST=true
CONTAINER_NAME=nft-market-api
DOCKER_FILE=dockerfiles/sys.Dockerfile.nodejs
COMMAND=npm install > /logs/api.log && npm install -g nodemon  >> /logs/api.log && nodemon server.js  >> /logs/api.log
DOCKER_IMAGE=debian:latest
RESTART=unless-stopped
LOG_DRIVER=json-file
VOLUME=./volume
WORK_DIR=/app
TIMEZONE=Asia/Bangkok
SERVICE_ADDRESS=0.0.0.0
SERVICE_PORT=5001